@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;500;600;700;800;900&display=swap");

body {
  margin: 0;
  padding: 0;
  background-color: #0F172A !important;
  overflow-y: auto !important;
  overflow-x: hidden !important;
  height: auto !important;
  font-family: "Outfit", sans-serif !important;
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #0F172A;
}
::-webkit-scrollbar-thumb {
  background: #334155;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #475569;
}
